*{
    font-family: Roboto, sans-serif;
    background-color: rgb(31,31,31);
}

html{
  overflow-y: scroll;
}

main {
  height: calc(100vh - 100px);
  padding-top: 60px;
}

.content-area {
  height: 100%;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center;     /* 세로 가운데 정렬 */
  text-align: center;
}

img{
    display: flex;
    position: absolute;
    justify-content: left;
    margin: 50px;
    padding: 10px;
    width: 25vw;
    top: 20%;
    left: 13%;
    border-radius: 50px;
}

.introduce{
    display: flex;
    justify-content: center;
    color: white;
}

.introduce h1{
    white-space: nowrap;
    font-size: 40px;
    position: absolute;
    top: 25%;
    left: 46%;
}

.introduce ul{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 46%;
}