*{
    font-family: Roboto, sans-serif;
    background-color: rgb(31,31,31);
}

.grid-container {
    display: grid;
    margin:0;
    grid-template-columns: repeat(2, 1fr); 
}

.grid-image img {
  width: 100%; /* 이미지가 그리드 항목을 꽉 채우도록 설정 */
  height: 80%;
  object-fit: cover; 
  border-radius:30px;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77%; /* 텍스트 항목의 높이 설정 */
    background-color: transparent;
    color: white;
    font-size: 65px;
    border-radius: 30px;
}
