*{
    font-family: Roboto, sans-serif;
} /*헤더 전체에 적용*/

html{
    overflow-y: scroll;
}
header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: rgb(31, 31, 31); /* 헤더 배경 색 */
  color: white;
  padding: 20px 20px; /*좌우 여백*/
  max-width: 100%;
  width: 100vw; /* 화면 너비에 맞게 전체 너비 차지 */
  z-index: 1000; /* 다른 콘텐츠 위에 고정되도록 z-index 설정 */
  height: 40px; /*헤더 높이*/
  position: fixed;
  top:0;
  left: 0;
}

/*사실상 로고..*/
.profile-button{
    list-style: none;
    display: flex;
    color: white;
    font-size: 30px;
    background-color: transparent;
    border:none;
    transition: color 0.3s ease; 
}

.profile-button:hover{
    color: rgb(225, 255, 0);
}

.profile-container{
    display: flex;
    justify-content: space-between; 
    width:100%;
}

/*네비게이션 바 스타일*/
.profile-container{
    list-style: none; 
    display: flex; 
    width: 698px; /*너비 맞춰서 줄어들지 않게 하기*/
    height: 50px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

nav ul li {
  white-space: nowrap; /* 줄바꿈 금지 */
}


/*네비게이션 버튼 스타일*/
.nav-button{
    background-color: transparent;
    border: none;
    font-size: 19px;
    color:white;
    cursor: pointer;
    margin-right: 50px;
    padding: 10px 30px; /* 여백 추가 */
    transition: color 0.3s ease; /* 호버 시 부드럽게 변화 */
    flex-wrap: nowrap;
}

.nav-button:hover{
    color: rgb(225, 255, 0);
} /*호버 시 바뀔 색상 설정*/


